# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
.venv/
venv/
env/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# dotenv
.env

# IDE
.idea/
.vscode/
*.swp
